html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 25px;
    display: block;
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #222;
}

h1 {
    margin: 30px 0;
}

h1,
h2,
h3 {
    font-weight: normal;
    line-height: 100%;
}
h2 {margin: 10px 0;}

a[href] {
    color: #777;
}

a[href]:focus:not(:active),
a[href]:hover:not(:active) {
    color: #333;
}

.secondary:not(:hover) {
    filter: blur(1px) invert(50%);
}



ul {
    list-style-type: none;
    white-space: none;
    padding: 0;
}

ul.info-list, p {
    line-height: 2;
}

p {font-size: 1.1rem;}
.ico {
    width: 22vmin;
    min-width: 100px;
    height: auto;
    border: 2vmin solid #96e1fb;
    border-radius: 50%;
}
.reel {
    border-radius: 20px;
}

@media(max-width: 850px) {
    body {
        width: calc(100% - 50px);
        margin: 0;
    }
}
